#titulo{
    font-size: 30px;
    text-align:center;
}
cabecalho
padding: 20px;
color :read-only

.texto{
    text-align: justify;
    font-size: 20px;
    color: green;
}

.depoimentos { 
    background-image: linear-gradient(#E48F45E48F45); 
}
border-radius: 25 px;

