#titulo{
    font-size: 30px;
    text-align:center;
}

.texto{
    text-align: justify;
    font-size: 20px;
    color: green;
}

.depoimentos { 
    background-image: linear-gradient(#E48F45E48F45); 
}
